@use "~s/tools.scss" as *;

.header {
  position: sticky;
  background-color: $color-main-bg;
  z-index: 3;
  top: 0;
  border-bottom: 0.1rem solid $line;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 0 $indent-xs;

  @include text-s;

  .wrapper {
    width: 100%;
    max-width: 102.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 6.5rem;
  }

  .mobileMenu {
    display: none;
  }

  &Left,
  &Right {
    display: flex;
    align-items: center;

    &Buttons {
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: $indent-2xs;
    }
  }
}

@include tablet-landscape {
  .header {
    .mobileMenu {
      display: block;
      margin-right: $indent-s;
    }

    &Right {
      &Buttons {
        grid-column-gap: 0;
      }
    }
  }

  .phone {
    margin-left: $indent-xs;
  }
}

@include tablet-portrait {
  .header {
    .mobileMenu {
      display: block;
      margin-right: $indent-3xs;
    }
  }

  .phone {
    display: none;
  }
}

@include tablet-landscape {
  .mobile {
    display: none;
  }
}
