@use "../../styles/_tools.scss" as *;

.conditions {
  &Block {
    background: $color-light-gray-second;
    border-radius: $br-block;
    padding: $indent-s;
    display: grid;
    grid-template-columns: 1fr 180px 180px;
    column-gap: $indent-s;

    // FIXME: Убрать, как только будет готов Title с отступами
    margin-top: $indent-l;
  }

  &List,
  &Tariff {
    display: grid;
    row-gap: $indent-s;
    padding: $indent-s;

    &Item {
      height: $text-lh-l;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &Tariff {
    border-radius: $br-block;
    justify-items: center;

    &Yellow {
      background: $color-yellow-second;
    }

    &Dark {
      background: $color-x-dark-dim;
      color: $color-white;

      .icon {
        stroke: $color-white;
      }
    }
  }

  &Describe,
  &Fee {
    @include text-xxl;

    font-weight: $bold;
    margin-top: auto;
  }

  &Describe {
    margin-top: $indent-3xs;
  }

  &TextItem {
    display: grid;
    row-gap: $indent-3xs;

    &Text {
      @include text-l;

      font-weight: $regular;
    }

    &Footnote {
      @include text-s;

      font-weight: $regular;
    }
  }
}

// TODO: выбрать брейкпоинт, синхронизировать с Title
@include tablet-landscape {
  .conditions {
    &Block {
      grid-template-columns: 1fr 80px 80px;
      padding: $indent-2xs $indent-s $indent-2xs $indent-2xs;
      column-gap: $indent-2xs;

      // FIXME: Убрать, как только будет готов Title с отступами
      margin-top: $indent-s;
    }

    &List,
    &Tariff {
      row-gap: $indent-xs;
      padding: $indent-2xs;
    }

    &Tariff {
      &Item {
        height: $text-lh-xs;
      }
    }

    &TextItem {
      &Text {
        @include text-xs;
      }

      &Footnote {
        font-size: 1.1rem;
        line-height: $text-lh-2xs;
        font-weight: $regular;
      }
    }

    .icon {
      width: 12px;
      height: 12px;
    }

    &Describe,
    &Fee {
      @include text-m;
    }
  }
}

@include phone-only {
  .conditions {
    &Block {
      grid-template-columns: 1fr 60px 60px;
      padding: $indent-3xs $indent-xs $indent-3xs $indent-3xs;
      column-gap: $indent-3xs;
    }

    &List,
    &Tariff {
      row-gap: $indent-2xs;
    }
  }
}
