@use "~s/tools.scss" as *;

.conditions {
  $layout-percent: 62%;

  &Block {
    background: $color-light-gray-second;
    padding: $indent-l $indent-s $indent-l $indent-l;
    display: grid;
    grid-template-columns: $layout-percent 1fr 1fr;
    grid-template-rows: auto;
    column-gap: $indent-s;
    position: relative;
    z-index: 1;
    overflow: hidden;

    @include gradient-border(
      linear-gradient(90deg, $color-calc-gradient-start, $color-calc-gradient-end),
      $color-white,
      0.2rem,
      $br-block
    );

    &::before {
      @include box($layout-percent, 100%);

      content: '';
      position: absolute;
      z-index: -1;
      background: $color-yellow-second;
    }
  }

  &Tariff {
    &Item {
      height: $text-lh-l;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }

  .icon {
    height: $text-lh-l;
  }

  &Describe {
    @include text-l;

    font-weight: $regular;
    padding-right: $indent-s;
  }

  &Fee {
    @include text-l;

    text-align: center;
    font-weight: $bold;
  }

  &TextItem {
    display: grid;
    row-gap: $indent-3xs;
    padding-bottom: $indent-xs;
    padding-right: $indent-s;

    &Text {
      @include text-l;

      font-weight: $regular;
    }

    &Footnote {
      @include text-s;

      color: #6b6350;
      font-weight: $regular;
    }
  }
}

@include tablet-landscape {
  .conditions {
    &Block {
      padding: $indent-s;
    }

    &TextItem {
      row-gap: 0.6rem;

      &Text {
        @include text-xs;
      }

      &Footnote {
        font-size: 1rem;
        line-height: 1.2rem;
      }
    }

    &Describe,
    &Fee {
      @include text-xs;
    }

    &Desctibe {
      padding-right: $indent-xs;
    }

    .icon {
      height: $text-lh-xs;
      width: $indent-xs;
    }
  }
}

@include phone-only {
  .conditions {
    &Block {
      padding: $indent-xs;
      padding-right: 0;
      column-gap: 0;
    }
  }
}
