@use "~s/tools.scss" as *;

.conditions {
  &Block {
    background: $color-light-gray-second;
    border-radius: $br-block;
    padding: $indent-l $indent-s $indent-l $indent-l;
    display: grid;
    grid-template-columns: 1fr 18rem 18rem;
    grid-template-rows: auto;
    column-gap: $indent-s;
    z-index: 1;
  }

  &List,
  &Tariff {
    &Item {
      height: $text-lh-l;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }

  &IndentRadius {
    &Top,
    &Bottom {
      position: relative;
      z-index: 1;

      &::before {
        @include box(100%);

        content: '';
        display: block;
        position: absolute;
        background: inherit;
        z-index: -1;
        border-radius: $br-block;
      }
    }

    &Top::before {
      top: -$indent-s;
    }

    &Bottom::before {
      bottom: -$indent-s;
    }
  }

  .icon {
    height: $text-lh-l;
  }

  &Tariff {
    &Item {
      height: auto;
    }

    &Yellow {
      background: $color-yellow-second;
    }

    &Dark {
      background: $color-x-dark-dim;
      color: $color-white;

      .icon {
        stroke: $color-white;
      }
    }
  }

  &Describe,
  &Fee {
    @include text-xxl;

    font-weight: $bold;
    padding-top: $indent-3xs;
  }

  &Fee {
    text-align: center;
  }

  &TextItem {
    display: grid;
    row-gap: $indent-3xs;
    padding-bottom: $indent-s;

    &Text {
      @include text-l;

      font-weight: $regular;
    }

    &Footnote {
      @include text-s;

      font-weight: $regular;
    }
  }
}

@include tablet-landscape {
  .conditions {
    &Block {
      grid-template-columns: 1fr 8rem 8rem;
      padding: $indent-s $indent-2xs $indent-s $indent-s;
      column-gap: $indent-2xs;
    }

    &TextItem {
      padding-bottom: $indent-xs;

      &Text {
        @include text-xs;
      }

      &Footnote {
        font-size: 1.1rem;
        line-height: $text-lh-2xs;
        font-weight: $regular;
      }
    }

    .icon {
      width: 1.2rem;
      height: $text-lh-2xs;
    }

    &Describe,
    &Fee {
      @include text-m;
    }

    &IndentRadius {
      &Top::before {
        top: -$indent-xs;
      }

      &Bottom::before {
        bottom: -$indent-xs;
      }
    }
  }
}

@include phone-only {
  .conditions {
    &Block {
      grid-template-columns: 1fr 6rem 6rem;
      padding: $indent-xs;
      column-gap: $indent-3xs;
    }

    &IndentRadius {
      &Top::before {
        top: -$indent-3xs;
        border-radius: 1rem;
      }

      &Bottom::before {
        bottom: -$indent-3xs;
        border-radius: 1rem;
      }
    }
  }
}
