@use '../../styles/tools' as *;

.list {
  margin: 0;
}

.definition {
  max-height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0 $indent-2xs;
  border-bottom: 0.1rem solid $color-light-gray;
  transition-property: max-height, border-color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.questionContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questionIcon {
  flex-shrink: 0;
  margin-left: 1rem;
  transition: transform 0.3s;
}

.termOpened .questionIcon {
  transform: rotate(-180deg);
}

.trigger {
  @include reset-button();

  width: 100%;
  padding: 2.2rem $indent-2xs;

  &:focus {
    color: $color-dark-dim;

    .questionIcon {
      fill: $color-dark-dim;
    }
  }
}

.term {
  &:first-of-type {
    .trigger {
      border-top: none;
    }
  }

  &Opened,
  &:focus-within {
    + .definition {
      border-color: $color-yellow;
    }
  }
}

.answer {
  padding-top: $indent-s;
  padding-bottom: $indent-m;
  color: $color-blue-gray;
}

.link {
  color: $color-link;
}

@media (max-width: 54rem) {
  .list {
    font-size: 1.4rem;
  }

  .trigger {
    text-align: left;
  }

  .questionIcon {
    width: 1.6rem;
    height: 1.6rem;
  }

  .answer {
    padding-top: $indent-3xs;
    padding-bottom: $indent-s;
  }
}
