@use "../../styles/_tools.scss" as *;

.button {
  border-radius: $br-button;
  padding: $indent-vertical-button-desktop $indent-horizontal-button-desktop;
  display: inline-block;
}

.primary {
  background: $color-yellow;

  &:hover {
    background: $color-yellow-hovered;
  }
}

.secondary {
  background: $color-black;
}

@include phone-only {
  .button {
    padding: $indent-vertical-button-mobile $indent-horizontal-button-mobile;
  }
}
