@use "~s/tools.scss" as *;

.button {
  display: inline-block;
  border-radius: $br-button;
  padding: $indent-vertical-button-desktop $indent-horizontal-button-desktop;
}

.primary {
  background: $color-action-base;
  color: $color-black;

  &:hover {
    background: $color-yellow-hovered;
  }
}

.secondary {
  background: $color-gray;

  &:hover {
    background: $color-gray-hovered;
  }
}

@include phone-only {
  .button {
    padding: $indent-vertical-button-mobile $indent-horizontal-button-mobile;
  }
}
