@use "~s/_tools.scss" as *;

.layout {
  display: grid;
  gap: $indent-s;

  &Medium {
    grid-template-columns: repeat(2, 1fr);
  }

  &Small {
    grid-template-columns: repeat(3, 1fr);
  }

  &Numbered {
    @include custom-numbered-list(plate, '#');
  }
}

@include tablet-portrait {
  .layout {
    grid-template-columns: 1fr;
    gap: $indent-2xs;
  }
}
