@use "~s/tools.scss" as *;

.icon {
  @include box(1.4rem);

  background-image: url('/images/question-mark.svg');
  cursor: pointer;
  position: relative;
  -webkit-tap-highlight-color: $color-transparent;
}

.text {
  @include horizontally-centered;
  @include text-xs;

  top: 2.4rem;
  width: 24.9rem;
  padding: $indent-s;
  border-radius: $br-button;
  background-color: $color-main-bg;
  box-shadow: 0 0.5rem 2rem rgba(99, 97, 95, 0.3);
  z-index: 3;
  opacity: 0;
  transition: 0.4s opacity ease;
  pointer-events: none;
  cursor: auto;

  &::before {
    @include box(100%, 1.2rem);

    content: '';
    position: absolute;
    top: -1.2rem;
    left: 0;
    background-color: $color-transparent;
  }
}

.visible {
  opacity: 1;
  pointer-events: auto;
}
