@use '~s/tools.scss' as *;

.hero {
  display: flex;
  align-items: center;

  &Content {
    z-index: 2;
    margin-right: $indent-xs;
  }

  &Title {
    margin-bottom: $indent-m;
    max-width: 45.6rem;
  }

  .subtitle {
    margin-bottom: $indent-m;
    max-width: 37.6rem;
    color: $color-dark-blue-gray;
    font-weight: $medium;
  }

  &Tab {
    position: absolute;
    display: block;
  }

  &Image {
    position: relative;
    left: 12rem;
  }

  &MainImage {
    height: 47.9rem;
    width: 60rem;
    background: url('./HeroTabsImg/mainImage.jpg') no-repeat;
    background-size: contain;
    box-shadow: 0 4px 28px rgba(0, 0, 0, 0.12);
    border-radius: $br-button;
    animation: slowshow 0.9s;
  }

  &MainBg {
    position: absolute;
    background-color: #333;
    height: 47.9rem;
    width: 60rem;
    border-radius: $br-button;
    left: 4.8rem;
    top: 2.8rem;
    z-index: -1;
    animation: slidein 0.8s;
  }

  &Tab1 {
    @include heroTab(25.8rem, 6rem);

    background: url('./HeroTabsImg/1.png') no-repeat;
    box-shadow: 0 2px 19px rgba(140, 140, 140, 0.3);
    background-size: contain;
    bottom: 14rem;
    left: -10rem;
    animation: scaleShowWhiteTab 2s;
  }

  &Tab2 {
    @include heroTab(19rem, 7.8rem);

    background: url('./HeroTabsImg/2.png') no-repeat;
    background-size: contain;
    bottom: 4rem;
    left: -8rem;
    animation: scaleShowYellowTab 2s;
  }

  &Tab3 {
    @include heroTab(26.8rem, 6rem);

    background: url('./HeroTabsImg/3.png') no-repeat;
    box-shadow: 0 6px 24px rgba(252, 228, 94, 0.4);
    background-size: contain;
    top: 4rem;
    right: -9rem;
    animation: scaleShowYellowTab 2s;
  }

  &Tab4 {
    @include heroTab(21.2rem, 5.2rem);

    background: url('./HeroTabsImg/4.png') no-repeat;
    box-shadow: 0 2px 19px rgba(140, 140, 140, 0.3);
    background-size: contain;
    top: 12rem;
    right: -9rem;
    animation: scaleShowWhiteTab 2s;
  }
}

@include desktop {
  .hero {
    &Image {
      left: 3rem;
    }

    &MainImage {
      height: 36.9rem;
      width: 46rem;
      margin-right: 16px;
    }

    &MainBg {
      height: 36.9rem;
      width: 46rem;
      left: 2.8rem;
      top: 1.8rem;
    }

    &Tab1 {
      bottom: 8rem;
      left: -5rem;
    }

    &Tab2 {
      bottom: -1rem;
      left: 2rem;
    }

    &Tab3 {
      top: 23rem;
      right: -3rem;
    }

    &Tab4 {
      top: 30rem;
      right: 2rem;
    }
  }
}

@include tablet-landscape {
  .hero {
    &Image {
      left: 0;
    }

    &MainImage {
      height: 27.3rem;
      width: 34.2rem;
    }

    &MainBg {
      height: 26.9rem;
      width: 33rem;
    }

    &Tab1,
    &Tab3 {
      display: none;
    }

    &Tab2 {
      bottom: 1rem;
      left: 1rem;
      width: 16rem;
      height: 6.8rem;
    }

    &Tab4 {
      top: 16rem;
      right: 0;
      width: 18.2rem;
      height: 4.2rem;
    }
  }
}

@include phone-only {
  .heroImage {
    display: none;
  }

  .hero {
    &Title {
      max-width: 33.8rem;
      margin-bottom: $indent-s;
    }

    .subtitle {
      max-width: 23.8rem;
      margin-bottom: $indent-s;

      @include text-2xs;
    }
  }
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(20%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
