@use "~s/tools.scss" as *;

@include big-desktop {
  .h1 {
    @include title-xl;
  }

  .h2 {
    @include title-l;

    margin-bottom: $indent-l;
  }
}

@include desktop {
  .h1 {
    @include title-xl;
  }

  .h2 {
    @include title-l;

    margin-bottom: $indent-m;
  }
}

@include tablet-landscape {
  .h1 {
    @include title-l;
  }

  .h2 {
    @include title-m;

    margin-bottom: $indent-s;
  }
}

@include tablet-portrait {
  .h1 {
    @include title-m;
  }

  .h2 {
    @include title-s;

    margin-bottom: $indent-xs;
  }
}

@include phone-only {
  .h1 {
    @include title-s;
  }

  .h2 {
    @include title-xs;
  }
}
