@use '~s/tools.scss' as *;

.footer {
  padding: $indent-l $indent-xs;
  background: $color-x-dark-dim;
  display: flex;
  justify-content: center;
  // Временное решение
  margin-top: auto;

  &Section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 102.4rem;
  }

  &Left {
    width: 100%;
    max-width: 61rem;
    flex-basis: 50.4rem;
    flex-grow: 2;
  }

  &Right {
    width: 100%;
    flex-basis: 23.2rem;
  }

  &Paragraph,
  &Copyright {
    @include text-xs;

    font-weight: $regular;
    color: $color-text-gray-transparent;
  }

  &Paragraph + &Paragraph {
    // Взял line-height, т.к. на макете между параграфами и копирайтом 1 и 2 перевода строки, что равно line-height
    margin-top: $text-lh-xs;
  }

  &Copyright {
    // Взял line-height, т.к. на макете между параграфами и копирайтом 1 и 2 перевода строки, что равно line-height
    margin-top: calc(#{$text-lh-xs} * 2);
  }

  &Note,
  &Phone,
  &Email {
    text-align: right;
  }

  &Note {
    @include text-m;

    font-weight: $light;
    margin-bottom: $indent-2xs;
    color: $color-text-second;
  }

  &Email {
    @include text-m;

    font-weight: $light;
    margin-top: 0.3rem;
  }

  &Phone {
    @include text-l;

    font-weight: $medium;
  }

  &Phone,
  &Email {
    display: block;
    color: $color-white;

    &:hover {
      color: $color-yellow-hovered;
    }
  }
}

@include tablet-portrait {
  .footer {
    padding: $indent-s $indent-xs;

    &Left {
      order: 1;
      margin-top: $indent-s;
    }

    &Note,
    &Phone,
    &Email {
      text-align: left;
    }
  }
}
