@use '~s/tools.scss' as *;

.title {
  color: inherit;
  font-weight: $bold;
}

.description {
  color: inherit;
}

.plate {
  position: relative;
  overflow: hidden;
  background: $color-yellow-second;
  color: $color-black;
  border-radius: $br-block;
  text-align: left;
  padding: 3.6rem;
  min-height: 24.8rem;

  .title {
    margin-bottom: 2.4rem;

    @include text-l;
  }

  .description {
    @include text-s;
  }

  &Yellow {
    background: $color-yellow-second;
    color: $color-black;
  }

  &Grey {
    background: $color-gray-plate;
    color: $color-black;
  }

  // TODO: возможно надо будет убрать такой цвет у плашки и Plate.tsx
  // если в финальном дизайне в итоге откажутся от такого цвета
  &Black {
    background: $color-black;
    color: $color-white;
  }

  &LightBlack {
    background: $color-x-dark-dim;
    color: $color-white;
  }

  // TODO: возможно надо будет убрать такой цвет у плашки и Plate.tsx
  // если в финальном дизайне в итоге откажутся от такого цвета
  &Blue {
    background: linear-gradient(180deg, $color-blue-start 0%, $color-blue-end 100%);
    color: $color-black;
  }

  &WithImage {
    .leftWrapper {
      position: relative;
      z-index: 1;
      width: 24.9rem;
      margin-right: 2rem;
    }
  }

  &WithImageAndAction {
    display: flex;
    min-height: 25.6rem;

    .leftWrapper {
      width: 24.1rem;
      margin-right: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .title {
      margin-bottom: 1.8rem;
    }

    .description {
      margin-bottom: 1rem;
      color: $color-dark-gray;
    }
  }
}

.plateListItem {
  min-height: 31.7rem;
  padding: 6rem 1.9rem 5.4rem;
  border-radius: $br-block-small;

  .title {
    margin-bottom: 1.6rem;

    @include text-l;
  }

  .description {
    @include text-s;
  }

  &::before {
    position: relative;
    z-index: 1;
    display: block;
    color: inherit;
    font-weight: $medium;
    margin-bottom: 2rem;

    @include title-xl;
  }
}

.plateHowItWorks {
  padding: 3.9rem;
  border-radius: $br-block;
  min-height: 20.4rem;

  .title {
    margin-bottom: 0;
  }

  &::before {
    margin-bottom: 0.9rem;

    @include title-l;
  }
}

@include tablet-portrait {
  .plate {
    padding: 2.8rem;
    min-height: 14rem;

    &WithImage {
      .leftWrapper {
        width: 60%;
      }
    }

    &WithImageAndAction {
      min-height: 14rem;

      .leftWrapper {
        width: 60%;
      }
    }
  }

  .plateListItem {
    padding: 2.8rem;
    min-height: 14rem;
  }

  .plateHowItWorks {
    padding: 2.8rem;
    min-height: 14rem;
  }
}

@include phone-only {
  .plate {
    padding: 2.4rem;
    min-height: 14rem;

    .title {
      @include text-m;
    }

    .description {
      @include text-xs;
    }

    &WithImage {
      .leftWrapper {
        width: 100%;
        margin-right: 2rem;
      }
    }

    &WithImageAndAction {
      min-height: 14rem;

      .leftWrapper {
        width: 100%;
        margin-right: 2rem;
      }
    }
  }

  .plateListItem {
    min-height: 14rem;
    padding: 2.2rem;
    border-radius: $br-block-small;

    .title {
      @include text-m;
    }

    .description {
      @include text-xs;
    }

    &::before {
      @include title-l;
    }
  }

  .plateHowItWorks {
    padding: 2.2rem;
    min-height: 14rem;
  }
}
