@use "../../styles/_tools.scss" as *;

.title {
  color: inherit;
  font-weight: $bold;
}

.description {
  color: inherit;
}

.plate {
  position: relative;
  overflow: hidden;
  background: $color-yellow-second;
  color: $color-black;
  border-radius: $br-block;
  text-align: left;
  padding: 36px 0 36px 36px;
  min-height: 248px;

  .title {
    margin-bottom: 24px;

    @include text-l;
  }

  .description {
    @include text-s;
  }

  &Yellow {
    background: $color-yellow-second;
    color: $color-black;
  }

  &Grey {
    background: $color-lighter-gray;
    color: $color-black;
  }

  // TODO: возможно надо будет убрать такой цвет у плашки и Plate.tsx
  // если в финальном дизайне в итоге откажутся от такого цвета
  &Black {
    background: $color-black;
    color: $color-white;
  }

  &LightBlack {
    background: $color-x-dark-dim;
    color: $color-white;
  }

  // TODO: возможно надо будет убрать такой цвет у плашки и Plate.tsx
  // если в финальном дизайне в итоге откажутся от такого цвета
  &Blue {
    background: linear-gradient(180deg, $color-blue-start 0%, $color-blue-end 100%);
    color: $color-black;
  }

  &WithImage {
    .leftWrapper {
      position: relative;
      z-index: 1;
      width: 249px;
      margin-right: 20px;
    }
  }

  &WithImageAndAction {
    min-height: 256px;

    .leftWrapper {
      height: 100%;
      width: 241px;
      margin-right: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .title {
      margin-bottom: 18px;
    }

    .description {
      margin-bottom: 10px;
      color: $color-dark-gray;
    }
  }
}

.plateListItem {
  min-height: 317px;
  padding: 60px 19px 54px;
  border-radius: $br-block-small;

  .title {
    margin-bottom: 16px;

    @include text-l;
  }

  .description {
    @include text-s;
  }

  &::before {
    position: relative;
    z-index: 1;
    display: block;
    color: inherit;
    font-weight: $medium;
    margin-bottom: 20px;

    @include title-xl;
  }
}

.plateHowItWorks {
  padding: 39px;
  border-radius: $br-block;
  min-height: 204px;

  .title {
    margin-bottom: 0;
  }

  &::before {
    margin-bottom: 9px;

    @include title-l;
  }
}
