@use '~s/tools' as *;

.calculatorSection {
  position: relative;
  margin-bottom: $indent-s;
  padding: $indent-l 0;

  &::before {
    @include horizontally-centered;
    @include box(100vw, 100%);

    content: '';
    top: 0;
    z-index: -1;
    background-color: $color-x-dark-dim;
  }
}

.headline {
  margin-bottom: 3.6rem;
  color: $color-white;
}

.title {
  font-size: $text-calc-m;
  line-height: $text-lh-m;
}

.subtitle {
  margin-bottom: $indent-3xs;
  font-weight: $medium;
  font-size: $text-calc-s;
  line-height: $text-lh-s;
}

.textHighlight {
  font-weight: $bold;
}

.calculator {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: 44% 50%;
  row-gap: $indent-s;
  justify-content: space-between;
  padding: $indent-l;
  background-color: $color-main-bg;
  border-radius: $br-block;
}

.baseValues {
  border-bottom: 0.1rem solid $color-light-gray;
}

.baseValues,
.additional {
  grid-column: 1 / 2;
}

.deliveryToggle {
  margin: $indent-s 0;
}

.results {
  @include gradient-border(
    linear-gradient(90deg, $color-calc-gradient-start, $color-calc-gradient-end),
    $color-white,
    0.2rem,
    $br-block
  );

  grid-column: -2 / -1;
  grid-row: span 2;
  align-self: flex-start;
  padding: $indent-s;
}

.mainOutput {
  margin-bottom: $indent-l;
}

.totalIncome {
  display: inline-block;
  margin-bottom: $indent-xs;
  font-weight: $bold;
  font-size: 5.2rem;
}

.fee {
  @include text-xxl;

  font-weight: $medium;
  color: $color-blue-gray;
}

.featuresList {
  position: relative;
}

.featuresTitle {
  margin-bottom: $indent-s;
  font-size: $text-calc-m;
  line-height: $text-lh-m;
}

.features {
  @include reset-list;
  @include text-s;

  padding-left: $indent-xs;
  color: $color-dark-blue-gray;
}

.feature {
  list-style: decimal;
  margin-bottom: 0.4rem;
}

.annotation {
  @include text-2xs;

  margin-left: $indent-l;
  margin-top: $indent-s;
  color: $color-white;
}

@include tablet-landscape {
  .calculator {
    padding: 3.2rem $indent-s;
    border-radius: $br-block-small;
  }

  .title {
    @include text-m;
  }

  .results {
    padding: 2rem $indent-xs;
  }

  .totalIncome {
    font-size: $h-m;
  }

  .fee {
    font-size: $h-s;
  }

  .featuresTitle {
    @include text-m;

    margin-bottom: $indent-xs;
  }

  .features {
    @include text-xs;
  }

  .annotation {
    margin-left: $indent-s;
  }
}

@include tablet-portrait {
  .calculator {
    grid-template-columns: 1fr;
    padding: 3.6rem;
  }

  .results {
    padding: $indent-s;
  }

  .totalIncome {
    @include title-l;
  }

  .fee {
    @include title-m;
  }

  .featuresTitle {
    font-weight: $medium;
  }

  .annotation {
    margin-left: 3.6rem;
  }
}

@include phone-only {
  .calculator {
    padding: $indent-s $indent-xs;
  }

  .headline,
  .mainOutput {
    margin-bottom: $indent-s;
  }

  .feature {
    margin-bottom: 0;
  }

  .annotation {
    margin-left: $indent-xs;
  }
}

@include small-phone {
  .results {
    @include reset-indents;

    background: $color-white;
  }

  .totalIncome {
    @include title-m;
  }

  .fee {
    @include title-s;
  }

  .subtitle {
    @include text-xs;
  }
}
