@use "~s/_tools.scss" as *;

.calculatorSection {
  position: relative;
  margin-bottom: $indent-s;
  padding: $indent-l 0;

  &::before {
    content: '';
    background-color: $color-x-dark-dim;
    z-index: -1;
    top: 0;

    @include horizontally-centered;
    @include box(100vw, 100%);
  }
}

.title {
  color: $color-white;
  margin-bottom: 3.6rem;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  row-gap: $indent-s;
  padding: $indent-l;
  border-radius: $br-block;
  background-color: $color-main-bg;
}

.baseValues,
.additional {
  grid-column: span 8;
}

.results {
  grid-column: span 12;
  grid-row: span 2;
  border-radius: $br-block;
  padding: $indent-s;
  margin-left: $indent-l;
  border: 0.2rem solid $color-transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient($color-main-bg, $color-main-bg),
    linear-gradient(to right, $color-calc-gradient-start, $color-calc-gradient-end);
}

.annotation {
  @include text-2xs;

  color: $color-white;
  margin-left: $indent-l;
  margin-top: $indent-s;
}

@include tablet-landscape {
  .calculator {
    grid-template-columns: 1fr;
    padding: $indent-xs;
  }

  .results {
    margin-left: 0;
  }
}
