//font
$font-primary: 'YS Display', system-ui, -apple-system, 'Segoe UI', roboto, ubuntu, cantarell, 'Noto Sans', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// font-size title
$h-xl: 4.8rem;
$h-l: 4rem;
$h-m: 3.4rem;
$h-s: 2.8rem;
$h-xs: 2.4rem;

// line-height title
$h-lh-xl: 5.6rem;
$h-lh-l: 4.8rem;
$h-lh-m: 4rem;
$h-lh-s: 3.6rem;
$h-lh-xs: 2rem;

// font-size text
$text-xxl: 3.2rem;
$text-xl: 2.8rem;
$text-l: 2.4rem;
$text-m: 1.8rem;
$text-s: 1.6rem;
$text-xs: 1.4rem;
$text-2xs: 1.3rem;

// font-size line-height
$text-lh-xxl: 4rem;
$text-lh-xl: 3.6rem;
$text-lh-l: 3rem;
$text-lh-m: 2.4rem;
$text-lh-s: 2rem;
$text-lh-xs: 1.8rem;
$text-lh-2xs: 1.6rem;

//indents
$indent-3xs: 0.8rem;
$indent-2xs: 1.2rem;
$indent-xs: 1.6rem;
$indent-s: 2.4rem;
$indent-m: 4.2rem;
$indent-l: 4.8rem;
$indent-xl: 8.2rem;

// buttons
$indent-vertical-button-desktop: 1.5rem;
$indent-horizontal-button-desktop: 1.8rem;
$indent-vertical-button-mobile: 1.1rem;
$indent-horizontal-button-mobile: 1.6rem;

//color-main
$color-main-bg: #fff;
$color-black: #000;
$color-white: #fff;
$color-dark-dim: #444;
$color-yellow: #fc0;
$color-yellow-second: #ffe45c;
$color-yellow-hovered: #f2c200;
$color-yellow-focused: $color-yellow;
$color-light-gray: #e6e9f0;
$color-light-gray-second: #f4f4f0;
$color-blue-gray: #696b80;
$color-dark-blue-gray: #404152;
$color-link: #04b;
$color-transparent: rgba(255, 255, 255, 0);
$color-x-dark-dim: #333;

//color-text
$color-text: $color-black;
$color-text-second: #ccc;
$color-text-gray-transparent: rgba(132, 133, 133, 0.8);

//other system colors
$color-red: #d00;
$color-green: #070;

//animation
$transition: all 0.2s ease-in;

//border-radius
$br-button: 16px;
$br-block: 24px;

// separation lines
$line: #f1f2f5;
