@use './variables' as *;
@use './fonts';
@use './lib/normalize';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  color: $color-text;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: $indent-xl;
}

body {
  overflow-x: hidden;
  min-width: 32rem;
  font-size: $text-s;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
button,
textarea,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  color: $color-black;
  -webkit-tap-highlight-color: $color-transparent;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 0.1rem;
  height: 0.1rem;
  margin: -0.1rem;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

// lib hamburger react padding-left-fix
.hamburger-react {
  left: -1.2rem;
}
